<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.erp.com.erp_app">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ierp_app_img"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ierp_app_img_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".document_care.myfragments.CropImageActivity"></activity>
        <activity
            android:name=".document_care.myInstallSignFragments.MyInstallationSignActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".document_care.myfragments.InstallationSignActivity2" />
        <activity android:name=".document_care.myfragments.Installation_List_Sginature_Activity2_1" />
        <activity android:name=".document_care.myfragments.InstallationSignActivity" />
        <activity android:name=".document_care.myfragments.Installation_List_Sginature_Activity2" />
        <activity android:name=".document_care.myfragments.Installation_List_Signature_Activity" />
        <activity
            android:name=".document_care.myfragments.ImageUploadDialog"
            android:label="이미지 업로드 성공!"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert" />
        <activity
            android:name=".document_care.PreviewDialogActivity"
            android:label="등록할 사진을 확인하세요"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert" />
        <activity
            android:name=".document_care.MyProject_Work_Insert_Activity"
            android:configChanges="orientation|screenSize"
            android:label="차량별 설치입력" />
        <activity
            android:name=".document_care.myfragments.MyCustomScannerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".InOutDetailActivity"
            android:label="입출고 현황 상세페이지" />
        <activity
            android:name=".DialogFinalCheckInActivity"
            android:label="   입고대상 목록을 최종 확인하세요"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert" />
        <activity
            android:name=".InOutStatusActivity"
            android:label="단말기 입출고 현황" />
        <activity
            android:name=".DialogFinalRequestListActivity"
            android:label="   출고신청 목록을 최종 확인하세요"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert" />
        <activity android:name=".CheckReleaseRequestList" />
        <activity
            android:name=".ReleaseRequestActivity"
            android:label="출고 신청" />
        <activity
            android:name=".WarehousingActivity"
            android:label="입고 신청" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnyOrientationCaptureActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomScannerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".CustomScannerReserveItemActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".callcenter.Call_Center_Activity"
            android:configChanges="orientation|screenSize"
            android:label="인터패스"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".New_Bus_Activity"
            android:configChanges="orientation|screenSize"
            android:label="신규 버스 등록" />
        <activity
            android:name=".Gtv_Error_Install_Activity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Barcode_bus_Activity"
            android:configChanges="orientation|screenSize"
            android:label="차량 바코드 등록" />
        <activity
            android:name=".Barcode_My_list_Activity"
            android:configChanges="orientation|screenSize"
            android:label="바코드 부착내역" />
        <activity
            android:name=".Barcode_garage_input_Activity"
            android:configChanges="orientation|screenSize"
            android:label="예비품 지급" />
        <activity
            android:name=".Barcode_garage_output_Activity"
            android:configChanges="orientation|screenSize"
            android:label="예비품 회수" />
        <activity
            android:name=".Barcode_input_list_Activity"
            android:configChanges="orientation|screenSize"
            android:label="예비품 지급내역" />
        <activity
            android:name=".Help_Actaivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReserveItemRepairActivity"
            android:configChanges="orientation|screenSize"
            android:label="불량품 입고" />
        <activity
            android:name=".Work_Report_Activity"
            android:configChanges="orientation|screenSize"
            android:label="업무계획" />
        <activity
            android:name=".work.Work_Insert_Activity"
            android:configChanges="orientation|screenSize"
            android:label="테스트 업무" />
        <activity
            android:name=".ic_check_menu.Cash_Box_Check_Activity"
            android:configChanges="orientation|screenSize"
            android:label="인천 통합징수기 일제 점검" />
        <activity
            android:name=".document_care.CameraTestActivity"
            android:configChanges="orientation|screenSize"
            android:label="카메라 테스트"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".document_care.CameraTest2Activity"
            android:configChanges="orientation|screenSize"
            android:label="카메라 테스트" />
        <!--
 <activity
            android:name=".document_care.ProJectMainActivity"
            android:configChanges="orientation|screenSize"
            android:label="프로젝트 업무 수행" />
        -->
        <activity
            android:name=".error_history.Error_History_Activity"
            android:configChanges="orientation|screenSize"
            android:label="장애 처리 조회" />
        <activity
            android:name=".over_work.Over_Work_Activity"
            android:configChanges="orientation|screenSize"
            android:label="연장 근무 내역" />
        <activity
            android:name=".over_work.Over_Work_Insert_Activity"
            android:configChanges="orientation|screenSize"
            android:label="연장 근무 신청" />
        <activity
            android:name=".over_work.Over_Work_Re_Insert_Activity"
            android:configChanges="orientation|screenSize"
            android:label="연장 근무 신청" />
        <activity
            android:name=".over_work.Over_Work_Approval_Activity"
            android:configChanges="orientation|screenSize"
            android:label="연장 근무 승인" />
        <activity
            android:name=".document_care.UnitInstallConfirmActivity"
            android:configChanges="orientation|screenSize"
            android:label="인수증" />
        <activity
            android:name=".document_care.ProJect_Work_Insert_Activity"
            android:configChanges="orientation|screenSize"
            android:label="프로젝트 업무 수행" />
        <activity
            android:name=".document_care.ProJect_Doc_Insert_Activity"
            android:configChanges="orientation|screenSize"
            android:label="설치 인수 확인메뉴" />
        <activity
            android:name=".document_care.ProJect_Doc_Write_Activity"
            android:configChanges="orientation|screenSize"
            android:label="설치 인수 확인메뉴" />
        <activity
            android:name=".document_care.ProJect_Doc_View_Activity"
            android:configChanges="orientation|screenSize"
            android:label="문서 조회" />
        <activity android:name="test.TestActivity" />
        <activity
            android:name=".document_care.myfragments.CaptureAct"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="app.erp.com.erp_app"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- android:authorities="app.erp.com.erp_app.provider" -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>